{% extends "contact/base.html" %}
{% block content %}

<div id="carouselSlides" class="carousel slide carousel-fade d-none d-sm-block" data-ride='carousel'>
    <div class="carousel-inner" data-interval="3000">
      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1591343389187-803a01d1bc6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80/800"
          class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1592218724665-0eda673da3fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60/800"
          class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1445633743309-b60418bedbf2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60/800"
          class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1449177009399-be6867ef0505?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60/800"
          class="d-block w-100" alt="">
      </div>
    </div>
  </div>
  <div class="card">
      <h4>Individual, Couples and Family Therapy for Children, Teens and Adults</h4>
      <h4>Stress / Anxiety / Depression</h4>
      <h4>School / Job and Career Issues</h4>
      <h4>ADD / ADHD</h4>
      <h4>Substance Abuse</h4>
      <h4>Divorce Mediation / Recovery</h4>
      <h4>Trauma / Grief and Loss</h4>
  </div>
{% endblock %}