{% extends "contact/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 my-5">
            <div class="card p-4">
                <h1 class="mb-4">Contact Us</h1>
                <form method="POST" class="post-form">
                    {% csrf_token %}                    
                    <div class="form-group">
                        <label for="{{form.first_name.id_for_label}}">First Name:</label>
                        {{form.first_name}}
                        <!-- <input type="text" class="form-control" id="first_name" placeholder="Enter Your First Name"> -->
                    </div>
                    <div class="form-group">
                        <label for="{{form.last_name.id_for_label}}">Last Name:</label>
                        {{form.last_name}}
                        <!-- <input type="text" class="form-control" id="last_name" placeholder="Enter Your Last Name"> -->
                    </div>
                    <div class="form-group">
                        <label for="{{form.phone.id_for_label}}">Phone Number:</label>
                        {{form.phone}}
                        <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"> -->
                    </div>
                    <div class="form-group">
                        <label for="{{form.email.id_for_label}}">Email Address:</label>
                        {{form.email}}
                        <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"> -->
                    </div>
                    <div class="form-group">
                        <label class="mb-2" for="{{form.text.id_for_label}}">Your Message:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="form-control btn btn-default" name="button">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}