<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midlothian Counseling and Wellness Associates</title>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class = 'container-fluid'>
        <div class = 'jumbotron text-center'>
            <h1>Midlothian Counseling and Wellness Associates</h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="about-us.html">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact-us.html">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
    </div>
    <div class='container'>
        <h2 class='card-title'>About Us</h2>
        <div class='row card my-2'>
            <div class='col-md-12' id='Barnes'>
                <h3>Nancy G. Barnes, LPC</h3>
                <p> is a Licensed Professional Counselor and Certified Substance Abuse Counselor who received her degree from VA Commonwealth University. She provides counseling for individuals ages 15 years and older with her primary areas of expertise in alcohol/substance abuse, anxiety, depression and eating disorders. Subspecialites include domestic violence, stress in workplace issues and grief counseling.</p>
                <p>Email: <a href='mailto: ngbarnes@aol.com'>ngbarnes@aol.com</a></p>
            </div>
        </div>
        <div class='row card my-2'>
            <div class='col-md-12' id='Daniel'>
                <h3>Deborah L. Daniel, LCSW</h3>
                <p>is a Licensed Clinical Social Worker who received her degree from VA Commonwealth University. Her background in family centered nursing is an invaluable foundation in her work with health issues, grief and life stages. Populations served are children, adolescents and adults, couples and families. She accepts court referrals and works closely with the Guardian ad Litem. Services provided include co-parenting and divorce counseling and she is currently working toward certification in divorce mediation.</p>
                <p>Email: <a href='mailto: ddaniellcsw@aol.com'>ddaniellcsw@aol.com</a></p>
            </div>
        </div>
        <div class='row card my-3'>
            <div class='col-md-12' id='Edge'>
                <h3>Anne Du Val Edge, LCSW</h3>
                <p>is a Licensed Clinical Social Worker who received her degree from VA Commonwealth University. Her areas of expertise include ADD/ADHD with children and adults, family and marital counseling. She sees children ages 2 to 18 and is trained to utilize yoga as a tool to help with depression. </p>
                <p>Email: <a href='mailto: adesuccess@aol.com'>adesuccess@aol.com</a></p>
            </div>
        </div>
        <div class='row card my-3'>
            <div class='col-md-12' id='House'>
                <h3>Janae W. House, LCSW</h3>
                <p>is a Licensed Clinical Social Worker who received her degree from Va Commonwealth University. She interned and then worked with the Department of Psychiatry at VCU in affective disorders and geriatric psychiatry. Populations served include adolescents, adults and couples. Areas of clinical focus include depression, bipolar, anxiety and panic disorder, marital therapy, communication skills, stress management, trauma recovery and workplace issues.</p>
                <p>Email: <a href='mailto: jhouse207@aol.com'>jhouse207@aol.com</a></p>
            </div>
        </div>
        <div class='row card my-3'>
            <div class='col-md-12' id='Mooney'>
                <h3>Sarah I. Mooney, LCSW</h3>
                <p>is a Licensed Clinical Social Worker who received her degree from Virginia Commonwealth University.  She has experience working with trauma, job stress, marital issues, ADHD, anxiety, depression, domestic violence, and mood disorders. Sarah works with children, families, couples, adolescents, and adults. She has also worked with various professionals in her career to include probation officers, social workers, local CSA offices/FAPT teams, and case managers. She has a wealth of knowledge regarding available community resources.</p>
                <p>Email: <a href='mailto: smooneylcsw@gmail.com'>smooneylcsw@gmail.com</a></p>
            </div>
        </div>
        <div class='row card my-3'>
            <div class='col-md-12' id='Siler'>
                <h3>Betty M. Siler, LPC</h3>
                <p>is a Licensed Professional Counselor  who received her degrees from the University of Memphis, Southwestern Baptist Theological Seminary and Liberty University.  She has worked for over twenty-five years in the mental health field in Residential Group Home care, Intensive In-Home Services and Outpatient Counseling. She addresses grief and loss, trauma, anxiety, depression, child and adolescent issues, and family concerns including marriage counseling. She has also been trained in the Common Sense Parenting program from Girls and Boystown to assist with parenting concerns. If Christian counseling is requested, she uses a para-scriptural approach combining the insight from psychology with the compassion and hopefulness of spirituality.</p>
                <p>Email: <a href='mailto: silerbetty@gmail.com'>silerbetty@gmail.com</a></p>
            </div>
        </div>
        <div class='row card my-3'>
            <div class='col-md-12' id='Virak'>
                <h3>Katherine M. Virak, LCSW</h3>
                <p>is a Licensed Clinical Social Worker who earned her degree from VA Commonwealth University. She has extensive experience working with adolescents and adults experiencing a wide range of emotional and behavioral issues including anxiety and panic disorder, depression, bipolar disorder, ADD/ADHD,  grief and trauma. Primary areas of expertise are families and couples, particularly mother/daughter relationships.  She also works with the geriatric population and adult children of the elderly.</p>
                <p>Email: <a href='mailto: km.virak@aol.com'>km.virak@aol.com</a></p>
            </div>
        </div>
    </div>
    <div class = 'container'>
        <div class = 'row card-footer'>
            <div class = 'col-md-4'>
                <div class = 'card-title'>
                    <h3>Our Therapists</h3>
                </div>
                <div class = 'card-text'>
                    <a href='about-us.html#Barnes'>Nancy G. Barnes, LPC</a>
                    <br>
                    <a href='about-us.html#Daniel'>Deborah L. Daniel, LCSW</a>
                    <br>
                    <a href='about-us.html#Edge'>Anne Du Val Edge, LCSW</a>
                    <br>
                    <a href='about-us.html#House'>Janae W. House, LCSW</a>
                    <br>
                    <a href='about-us.html#Mooney'>Sarah I. Mooney, LCSW</a>
                    <br>
                    <a href='about-us.html#Siler'>Betty M. Siler, LPC</a>
                    <br>
                    <a href='about-us.html#Virak'>Katherine M. Virak, LCSW</a>
                </div>
            </div>
            <div class='col-md-4'>

            </div>
            <div class='col-md-4'>
                <div class='card-title'>
                    <a href='contact-us.html'><h3>Contact</h3></a>
                </div>
                <div class='card-text'>
                    <p>1133 Jefferson Green Circle</p>
                    <p>Midlothian, VA 23113</p>
                    <p>(804) 794-7777</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>