{% extends 'contact/base.html' %}

{% block content %}
<div class="card">
    <h2 class="card-title">PLease Login:</h2>
    <p class="card-text">For Counselors Only</p>

    {% if form.errors %}
    <p>Your username and password didn't match! Please try again.</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Login">
        <input type="hidden" name="next" value="{{next}}">
    </form>
</div>
{% endblock %}